# OSX
.DS_Store

# Pycharm
.idea/

# Pydev
.project
.pydevproject

# Eclipse
.settings/

# Archivos compilados de python
*.pyc

# Windows thumbs
Thumbs.db

# Hashing
.hash

# Archivos ejecutables

# Archivos de results y uploads
data/results/
data/structure/
data/uploads/
