# OSX
.DS_Store

# Pycharm
.idea/

# Pydev
.project
.pydevproject

# Eclipse
.settings/

# Archivos compilados de python
*.pyc

# Windows thumbs
Thumbs.db

# Hashing
.hash

# Archivos de results y uploads
data/results/
data/structure/
data/uploads/

# Archivos de tests
tests/.data_tests_private/

# Archivos de tests privados
tests/private*.py

# Archivos residuales de VIM
*.swp
