# OSX
.DS_Store

# Pycharm
.idea/

# Pydev
.project
.pydevproject

# Eclipse
.settings/

# Archivos compilados de python
*.pyc

# Windows thumbs
Thumbs.db

# Hashing
.hash

# Archivos de results y uploads
data/results/
data/structure/
data/uploads/

# Archivos de tests
test/.data_tests_private/

# Archivos de tests privados
test/*_private.py

# Archivos de resultados de tests
test/.results/results.txt
test/.results/log/*

# Archivos residuales de VIM
*.swp

# Archivos de recuperación de idiomas guardados
resources/langs/.recover/*
